:root {
  --sl-font-system-mono: 'Fira Mono', monospace;
}

:root[data-theme='dark'] {
  --sl-color-black: #000;
  --sl-color-bg-inline-code: #1a1a1a;
  --ec-codeBg: #0d1117;
  --ec-frm-edBg: #0d1117;
  --ec-frm-trmBg: #0d1117;
}

